.wrapper{
  position: relative;
  top: 0;
  height: 100vh;
  background: #1d1d1d;

  &.wrapper-full-page{
    min-height: 100vh;
    height: auto;
  }

  .sidebar{
    position: fixed;
    top: 0;
    height: 100%;
    bottom: 0;
    width: 260px;
    left: 0;
    z-index: 1030;
    border-right: 1px solid #2c2c2c;
    background: #151515;

    .logo{
      position: relative;
      z-index: 4;
      height: 70px;
      border-bottom: 1px #2c2c2c solid;
      border-right: 1px solid #2c2c2c;
      background: #111111;

      a {
        margin: 0;
        padding: 20px;
        color: #908e8e;
        display: block;
        text-decoration: none;
        position: relative;
        cursor: pointer;
        font-size: 18px;
        line-height: 30px;
      }

      p{
        float: left;
        font-size: 20px;
        margin: 0;
        padding: 0;
        color: #908e8e;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        text-transform: uppercase;
        display: block;
        white-space: nowrap;
        text-decoration: none;
        line-height: 20px;
        overflow: hidden;
      }
    }

    .sidebar-wrapper{
      position: relative;
      height: calc(100vh - 75px);
      overflow: auto;
      width: 260px;
      z-index: 4;
      padding-bottom: 100px;
    }
  }
}

$sidebar-width: calc(100% - 260px) !default;

.main-panel{
  position: relative;
  float: right;
  width: $sidebar-width;
  //background-color: #030303;;

  .card {
    background: #2c2c2c;
    color: #908e8e;

    .card-header{
      background: #1d1d1d;
    }

    .code-wrapper{
      width: 700px;
      background: #1c1b1b;
      padding: 5px;
      float: left;
      margin-bottom: 10px;
      margin-right: 300px;


      p{
        color: #686666;
        padding: 0;
        padding-bottom: 5px;
        margin: 0;
        font-size: 14px;
      }

      pre{
        padding: 0;
        margin: 0;
      }

      code{
        color: #908e8e;
      }

      button{
        padding: 0;
        background: #242222;
        width: 80px;
        height: 30px;
        color: #908e8e;
        float: right;
        border: 1px solid #3d3b3b;
        vertical-align: top; /* here */
      }
    }
  }

  @include transition (0.50s, cubic-bezier(0.685, 0.0473, 0.346, 1));

  .content{
    padding: 0 30px 30px;
    min-height: calc(100vh - 123px);
    margin-top: 30px;
  }

  .navbar{
    margin-bottom: 0;
  }

  .header{
    margin-bottom: 50px;
  }
}
