body {
  background: #1d1d1d;

}

.wrapper{
  position: relative;
  top: 0;
  height: 100vh;
  background: #1d1d1d;

  &.wrapper-full-page{
    min-height: 100vh;
    height: auto;
  }

  .sidebar{
    position: fixed;
    top: 0;
    height: 100%;
    bottom: 0;
    width: 260px;
    left: 0;
    z-index: 1030;
    border-right: 1px solid #2c2c2c;
    background: #151515;

    .logo{
      position: relative;
      z-index: 4;
      height: 50px;
      border-bottom: 1px #2c2c2c solid;
      border-right: 1px solid #2c2c2c;
      background: #111111;

      a {
        margin: 0;
        padding: 20px;
        padding-top: 10px;
        color: #908e8e;
        display: block;
        text-decoration: none;
        position: relative;
        cursor: pointer;
        font-size: 18px;
        line-height: 30px;
      }

      p{
        float: left;
        font-size: 20px;
        margin: 0;
        padding: 0;
        color: #908e8e;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        text-transform: uppercase;
        display: block;
        white-space: nowrap;
        text-decoration: none;
        line-height: 20px;
        overflow: hidden;
      }
    }

    .sidebar-wrapper{
      position: relative;
      height: calc(100vh - 75px);
      overflow: auto;
      width: 260px;
      z-index: 4;
      padding-bottom: 100px;
    }
  }
}

$sidebar-width: calc(100% - 260px) !default;

.main-panel{
  position: relative;
  float: right;
  width: $sidebar-width;
  //background-color: #030303;;

  .card {
    font-size: 14px;
    background: #2c2c2c;
    color: #908e8e;
    margin-bottom: 20px;
    border-color: #000000;

    .card-header{
      background: #1d1d1d;
      height: 40px;
      padding-top: 5px;
      border-bottom: 1px solid black;

      .card-title {
        font-size: 16px;
      }
    }

    .card-body{
      background-color: #212121;

      a{
        color: #4b8bb1;
      }

      h5 {
        font-size: 17px;
        margin-top: 30px;
        margin-bottom: 10px;
        border-bottom: 1px solid #393838;
      }

      h5:first-child {
        margin-top: 0;
      }

      h6 {
        font-size: 14px;
        margin-top: 30px;
        margin-bottom: 10px;
      }

      .code-wrapper{
        font-size: 14px;
        font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
        width: 100%;
        background: #1c1b1b;
        padding: 5px;
        float: left;
        margin-bottom: 10px;
        margin-right: 300px;

        .code-wrapper-content{
          //background: #FF9500;
          padding-right: 90px;

          p{
            color: #686666;
            float: left;
            margin: 0;
            padding: 0 0 5px;

            span{
              display: inline-block;
              float: left;
              width: 100%;
            }

            span:before {
              content: '# ';
            }
          }

          pre{
            padding: 0;
            margin: 0;
            width: 100%;
          }



          code{
            color: #908e8e;
            background: #1c1b1b;
            padding: 0;
            margin: 0;
          }
        }

        button{
          padding: 0;
          background: #242222;
          width: 80px;
          height: 30px;
          color: #908e8e;
          float: right;
          border: 1px solid #3d3b3b;
          vertical-align: top; /* here */
        }
      }
    }
  }

  @include transition (0.50s, cubic-bezier(0.685, 0.0473, 0.346, 1));

  .content{
    padding: 0 30px 30px;
    min-height: calc(100vh - 123px);
    margin-top: 30px;
  }

  .navbar{
    margin-bottom: 0;
  }

  .header{
    margin-bottom: 50px;
  }
}
