<div class="row">
  <div class="col-md-12">
    <app-modal
      [environmentVariables]="['context', 'namespace', 'pod', 'deployment']">
    </app-modal>

    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Basics</h5>
      </div>
      <div class="card-body">

        <app-code-box
          comment="deploy stack"
          code="cdk deploy">
        </app-code-box>

        <app-code-box
          comment="compare changes between local and deployed stack"
          code="cdk diff">
        </app-code-box>

        <app-code-box
          comment="synthesize deployment to view cloudformation template"
          code="cdk synth">
        </app-code-box>

      </div>
    </div>
  </div>
</div>


