<div class="row">
  <div class="col-md-12">
    <app-modal
      [environmentVariables]="['commit', 'commit_message']">
    </app-modal>

    <div class="card">
      <div class="card-header">
        <span class="card-title">Squash commits on master</span>
      </div>
      <div class="card-body">

        <app-code-box
          comment='check status is clean, i.e. no output from command'
          code='git status'>
        </app-code-box>

        <app-code-box
          comment='get last commit'
          code='git log --name-status HEAD^..HEAD'>
        </app-code-box>

        <app-code-box
          comment='reset to last OK commit'
          code='git reset --soft ${commit}'>
        </app-code-box>

        <app-code-box
          comment='commit squashed commit'
          code='git commit -m "${commit_message}"'>
        </app-code-box>

        <app-code-box
          comment='force push the changes'
          code='git push --force origin master'>
        </app-code-box>

      </div>
    </div>


    <div class="card">
      <div class="card-header">
        <span class="card-title">References</span>
      </div>
      <div class="card-body">
        https://stackoverflow.com/questions/8213926/git-simplest-way-of-squashing-commits-on-master
      </div>
    </div>



  </div>
</div>


