<div class="row">
  <div class="col-md-12">
    <app-modal
      [environmentVariables]="['user', 'container', 'file_path', 'output_path', 'database']">
    </app-modal>

    <div class="card">
      <div class="card-header">
<!--        <h5 class="card-title">Kubectl commands</h5>-->
      </div>
      <div class="card-body">

        <app-code-box
          comment="remove images"
          code="docker image prune">
        </app-code-box>

        <app-code-box
          comment="remove volume data"
          code="docker volume prune">
        </app-code-box>

        <app-code-box
          comment="execute container with different user "
          code="docker exec -ti --user ${user} ${container} bash">
        </app-code-box>

      </div>
    </div>
  </div>
</div>


