<div class="row">
  <div class="col-md-12">
    <app-modal
      [environmentVariables]="['context', 'namespace', 'pod', 'deployment', 'bucket']">
    </app-modal>

    <div class="card">
      <div class="card-header">
        <span class="card-title">Basics</span>
      </div>
      <div class="card-body">


      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <span class="card-title">References</span>
      </div>
      <div class="card-body">
        <a href="https://github.com/aws/aws-cdk/issues/986" target="_blank">cdk bootstrap - no destroy option #986</a>
      </div>
    </div>

  </div>
</div>


