<div class="modal-wrapper">
  <button class="modal-toggle" type="button" (click)="show()">Environment variables</button>
  <div (click)="onContainerClicked($event)" class="modal fade" tabindex="-1" [ngClass]="{'in': visibleAnimate}"
       [ngStyle]="{'display': visible ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}" #modal>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <div *ngFor="let input of environmentVariables.inputs" class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="">{{input.name}}</span>
            </div>
            <input type="text" class="form-control" id="{{environmentVariables.root}}.{{input.name}}" value="{{input.value}}">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" (click)="hide()">Close</button>
          <button type="button" (click)="save()">Save</button>
          <ng-content select=".app-modal-footer"></ng-content>
        </div>
      </div>
    </div>
  </div>
</div>
