<div class="row">
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header">
        <h5 class="card-title">Kubectl commands</h5>
      </div>
      <div class="card-body">
<!--        <code ngNonBindable>-->
<!--          kubectl context=$context namespace=$namespace get pods-->
<!--        </code>-->



        <div class="code-snippet-area">
<!--          <app-snippet-block>-->
<!--            <pre class="prettyprint lang-html">-->
<!--              <code app-snippet>-->
<!--                asdad asdasd sad-->
<!--              </code>-->
<!--            </pre>-->
<!--          </app-snippet-block>-->
        </div>

      </div>
    </div>
  </div>
</div>


