<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Kubectl commands</h5>
      </div>
      <div class="card-body">
        <app-code-box
          comment="display all contexts"
          code="kubectl config get-contexts">
        </app-code-box>

        <app-code-box
          comment="display current context"
          code="kubectl config current-context">
        </app-code-box>

<!--        <app-code-box-->
<!--          comment="exec on to pod on namespace"-->
<!--          code="kubectl exec -ti &#45;&#45;namespace=$NAMESPACE $POD bash">-->
<!--        </app-code-box>-->

<!--        <app-code-box-->
<!--          comment="exec mysql command on pod"-->
<!--          code='kubectl exec -ti &#45;&#45;namespace=$NAMESPACE $POD mysql <<< "show tables;"'>-->
<!--        </app-code-box>-->

<!--        <app-code-box-->
<!--          comment="exec on to pod on namespace"-->
<!--          code="kubectl exec -ti &#45;&#45;namespace=$NAMESPACE $POD bash">-->
<!--        </app-code-box>-->

<!--        <app-code-box-->
<!--          comment="exec on to pod on namespace"-->
<!--          code="kubectl exec -ti &#45;&#45;namespace=$NAMESPACE $POD bash">-->
<!--        </app-code-box>-->

<!--        <app-code-box-->
<!--          comment="exec on to pod on namespace"-->
<!--          code="kubectl exec -ti &#45;&#45;namespace=$NAMESPACE $POD bash">-->
<!--        </app-code-box>-->

      </div>
    </div>
  </div>
</div>


