<div class="sidebar-wrapper">
  <div class="logo">
    <a href="">
      ops hax
    </a>
  </div>
  <div>
    <ul class="nav">
      <li *ngFor="let navItem of navigationRoutes" class="nav-section">
        <h4>{{ navItem.category }}</h4>
        <ul>
          <li *ngFor="let menuItem of navItem.nav" routerLinkActive="active" class="nav-item">
            <input type="checkbox" id="{{menuItem.title}}">
            <div class="nav-ic-wrapper">
              <div *ngIf="menuItem.children.length > 0" class="nav-ic"></div>
            </div>

            <label for="{{menuItem.title}}" [routerLink]="menuItem.children.length == 0 ? [menuItem.path] : []">
              <p>{{menuItem.title}}</p>
            </label>

            <ul class="sub-nav" [ngClass]="{'sub-nav-display': menuItem.path == activeNav}">
              <li *ngFor="let child of menuItem.children" routerLinkActive="active" >
                <a [routerLink]="[child.path]">
                  <i class="nc-icon {{child.icon}}"></i>
                  <p>{{child.title}}</p>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
