<div class="sidebar-wrapper">
  <div class="logo">
    <a href="">
      Cheat sheet
    </a>
  </div>
    <ul class="nav">
      <li *ngFor="let navItem of nav" class="nav-section">
        <h4>{{ navItem.category }}</h4>
        <ul>
          <li *ngFor="let menuItem of navItem.nav" routerLinkActive="active" class="nav-item">
            <input type="checkbox" id="{{menuItem.title}}">
            <div class="nav-ic-wrapper">
              <div *ngIf="menuItem.children.length > 0" class="nav-ic"></div>
            </div>

            <label for="{{menuItem.title}}" [routerLink]="menuItem.children.length == 0 ? [menuItem.path] : []">
              <p>{{menuItem.title}}</p>
            </label>

            <ul class="sub-nav">
              <li *ngFor="let child of menuItem.children" routerLinkActive="active" >
                <a [routerLink]="[child.path]">
                  <i class="nc-icon {{child.icon}}"></i>
                  <p>{{child.title}}</p>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
    <div class="modal-wrapper">
      <button class="modal-toggle" type="button" (click)="modal.show()">Environment variables</button>
      <app-modal #modal>
        <div class="app-modal-header">
          header
        </div>
        <div class="app-modal-body">
          Whatever content you like, form fields, anything
        </div>
        <div class="app-modal-footer">
          <button type="button" class="btn btn-default" (click)="modal.hide()">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </app-modal>
    </div>

</div>
