<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" style="border-bottom:1px solid lightgray;">
  <a class="navbar-brand" routerLink="/list">List</a>
  <a class="navbar-brand" routerLink="/heroes">Create</a>
  <a class="navbar-brand" routerLink="/list">Update</a>
  <a class="navbar-brand" routerLink="/list">Delete</a>
  <a class="navbar-brand" routerLink="/list">Deploy-app</a>
</nav>

<div class="container-fluid border" style="padding: 20px; margin-top: 50px">
  <router-outlet></router-outlet>
</div>

